.bg-white
{
    background: beige;
}


header{
    background: lightgreen;
    margin: 0;
    padding: 20px;
    box-shadow: 10px 10px greenyellow;
}


h1{
    font-size: 4rem;
    color: white;
}

img{
    height: 150px;
    width: 150px;
    bottom: 20px;
    left:30px;
}


li>img {
    width: 20px;
    height: 20px;
    margin : 5px;
}

th, td {
    border: 1px solid;
    padding: 10px;
}
h3{
    text-decoration: underline;
    font-size: 3rem;
}
ul{
    padding: 0;
    margin: 0;
}


.center{
    text-align: center
}
.italic{
    font-style:italic ;
}

.rounded{
    border-radius: 50%;
}
.position-absolute
{
    position : absolute;
}
.position-relative
{
    position : relative;
}

footer {
    background: black;
    padding: 10px;
}
footer{
    text-align: center;
}
footer>a+span{
    color: white;
    font-size: 1.5rem;
}

footer>a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

